/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 24.9999%;
}

.col-4 {
  width: 33.3332%;
}

.col-5 {
  width: 41.6665%;
}

.col-6 {
  width: 49.9998%;
}

.col-7 {
  width: 58.3331%;
}

.col-8 {
  width: 66.6664%;
}

.col-9 {
  width: 74.9997%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.6663%;
}

.col-12 {
  width: 99.9996%;
}

@media (max-width: 735px) {
  .menuHide {
    display: none;
  }

  nav.mobileNav {
    display: block;
  }
}
.main {
  width: 100%;
  height: 0;
}

* {
  box-sizing: border-box;
}

.grid_container {
  width: 90%;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}

.row:before,
.row:after {
  display: table;
  clear: both;
  content: '';
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

.topMenu {
  background-color: white;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 0 #dddddd;
}
.topMenu .icon {
  display: inline-block;
  float: left;
}
.topMenu .icon2 {
  display: inline-block;
  float: left;
}
.topMenu .icon3 {
  display: inline-block;
  float: left;
  margin-left: 24%;
}
.topMenu .text {
  display: inline-block;
  float: left;
  width: 18%;
}
.topMenu .text a {
  color: #5182ca;
  font-size: 12px;
  text-decoration: none;
  margin-left: 1%;
}
.topMenu .text2 {
  color: #5182ca;
  display: inline-block;
  float: left;
  width: 26%;
}
.topMenu .text2 a {
  color: #5182ca;
  font-size: 12px;
  text-decoration: none;
  margin-left: 1%;
}
.topMenu .text3 {
  color: #5182ca;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  float: right;
  margin-right: 1%;
  width: 26%;
}
.topMenu p {
  color: blue;
  margin-top: 1%;
}

.menu {
  background-color: white;
  width: 100%;
  height: 100px;
  margin-top: 5%;
}
.menu .nav_left {
  margin-left: 3%;
  margin-top: 3%;
}
.menu ul {
  float: right;
  margin-top: -3%;
}
.menu ul li {
  display: inline-block;
  margin: 0 auto;
}
.menu ul li a {
  float: right;
  color: #3e486c;
  text-decoration: none;
}

.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  border-top: 0;
}

.notVisible {
  display: none;
}

.menuBtn span {
  display: block;
  width: 19px;
  height: 5px;
  margin: 4px 0;
  background: black;
}

.mobileNav {
  display: none;
}

.mobileNav a {
  background: white;
  text-decoration: none;
  color: #9f449b;
}

.mobileNav li {
  display: inline-block;
  padding: 5px;
}

#firstSection {
  width: 100%;
  height: 0;
  background-image: url("../img/mainPhoto.jpg");
  background-size: 100% auto;
  padding-bottom: 42%;
  background-repeat: no-repeat;
}

.centerText {
  text-align: center;
}
.centerText h1 {
  color: white;
  font-size: 44px;
  text-align: center;
}

.images {
  width: 100%;
  padding-bottom: 86%;
  padding-top: 17%;
  height: 0;
  margin: 0 auto;
  text-align: center;
}
.images img {
  width: 80%;
}

.wyszukiwarka {
  float: left;
  width: 100%;
}

input[type="text"] {
  width: 75%;
  padding: 21px 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-left: 100px;
}

.wyszukiwarka_text {
  margin-left: 10%;
  margin-top: 4%;
}

#secondSection {
  width: 100%;
}

.images2 {
  width: 100%;
  padding-bottom: 86%;
  padding-top: 17%;
  height: 0;
  margin: 0 auto;
  text-align: center;
}
.images2 img {
  width: 80%;
}

.centerText2 {
  text-align: center;
}
.centerText2 h1 {
  color: black;
  font-size: 44px;
  text-align: center;
}

#thirdSection {
  width: 100%;
  height: 0;
  background-image: url("../img/couple.jpg");
  background-size: 100% auto;
  padding-bottom: 34%;
  background-repeat: no-repeat;
}

.textRamka {
  text-align: center;
}
.textRamka h1 {
  color: black;
  font-size: 44px;
  text-align: center;
}

.menu2 {
  background-color: #113138;
  width: 100%;
  height: 50px;
  border: 1px solid black;
}
.menu2 ul {
  text-align: center;
  margin-top: 1%;
}
.menu2 ul li {
  display: inline-block;
  margin: 0 auto;
}
.menu2 ul li a {
  float: left;
  color: white;
  text-decoration: none;
  padding: 1em;
  font-size: 12px;
}

#forthSection {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

.images3 {
  width: 80%;
  padding-bottom: 30%;
  padding-top: 20%;
  height: 0;
  margin-left: 10%;
  text-align: center;
}
.images3 img {
  width: 80%;
}

.centerText3 {
  text-align: left;
}
.centerText3 h1 {
  color: black;
  font-size: 44px;
}

.bottomMenu {
  background-color: darkblue;
  width: 100%;
  height: 50px;
  border: 1px solid black;
}
.bottomMenu ul {
  text-align: center;
}
.bottomMenu ul li {
  display: inline-block;
  margin: 0 auto;
}
.bottomMenu ul li a {
  float: left;
  color: black;
  text-decoration: none;
  padding: 1em;
  font-size: 12px;
}

/*# sourceMappingURL=mainstyle.css.map */
